---
const {name, date, description, position} = Astro.props;
const isLeft = position === 'left';
const directionClass = isLeft ? 'start' : 'end';
const circleDirectionClass = isLeft ? '-start-3' : '-end-3';
const textAlignmentClass = isLeft ? 'text-left' : 'text-right';
---
<span class=`absolute flex items-center justify-center w-6 h-6 bg-cyan-100 rounded-full ${circleDirectionClass} ${directionClass} ring-1 ring-cyan-700 dark:ring-cyan-700 dark:bg-cyan-100`>
    <slot/>
</span>
<h3 class=`mb-1 md:text-lg font-semibold ${textAlignmentClass}`>{name}</h3>
<time class=`block mb-2 text-sm font-normal leading-none ${textAlignmentClass}`>{date}</time>
<div>
    {description.map((parrafo) => (
        <p class=`mb-4 text-sm md:text-base font-normal text-pretty ${textAlignmentClass}`>{parrafo}</p>
    ))}
</div>